{% extends 'base.html' %}

{% block content %}

<h5>Envie uma mensagem descrevendo o erro</h5>
<form method="post" id='messageForm'>
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <button type="submit" id='messageSendButton'>Send</button>
</form>

{% endblock %}

{% block info %}

<h5>Envie uma mensagem descrevendo o erro</h5>
<form method="post" id='messageForm'>
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <button type="submit" id='messageSendButton'>Send</button>
</form>

{% endblock %}