{% extends 'base.html' %}

{% block info %}

<h5>Página Espaço</h5>
<table id="editar_espaco">
    <tr>
        <th>Sala</th>
        <th>Piso</th>
        <th>Lotação</th>
        <th>Tipo</th>
        <th>Estado</th>
        <th> </th>
    </tr>
    {% for entry in salas %}
    <tr>
        {%for regist in entry%}
        <td id="espaco_cell">{{ regist }}</td>
        {% endfor %}
        <td id="espaco_cell">
            <a id="espaco_edit" name="espaco_edit" class="btn btn-primary" href="/editar/{{entry.0}}">Editar</a></td>
    </tr>
    {% endfor %}

</table>
<form action="{% url "adicionar_espaco" %}">
    {% csrf_token %}
    {{ form }}
    <button id="adicionar_espaco" type=submit> Adicionar Sala </button>
</form>
{% endblock %}