{% extends 'base.html' %}

{% block info %}

<h5>Página Espaço</h5>
<table class="table table-light table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Sala</th>
            <th>Piso</th>
            <th>Lotação</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
    {% for sala in salas %}
    <tr>
        <th scope="row">{{ sala.nome }}</th>
        <td id="espaco_cell">{{ sala.piso }}</td>
        <td id="espaco_cell">{{ sala.lotacao }}</td>
        <td id="espaco_cell">{{ sala.tipo }}</td>
        <td id="espaco_cell">
            {% if sala.status == 1 %}
            Disponivel
            {% else %}
            Não disponivel
            {% endif %}
        </td>

        <td id="espaco_cell">
            <a id="espaco_edit" name="espaco_edit" class="btn btn-primary" href="/editar/{{sala.nome}}">Editar</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<form action="{% url 'adicionar_espaco' %}">
    {% csrf_token %}
    {{ form }}
    <button class="btn btn-success" type=submit> Adicionar Sala </button>
</form>
{% endblock %}