{% extends 'base.html' %}

{% block info %}

<h6>O seu Horário</h6>
<div id="tabela_horario">
    <table id="horario">
        <tr>
            <th> </th>
            <th>Segunda-Feira</th>
            <th>Terça-Feira</th>
            <th>Quarta-Feira</th>
            <th>Quinta-Feira</th>
            <th>Sexta-Feira</th>
            <th>Sábado</th>
        </tr>
        <tr>
            <td>09:30</td>
            <td>Desenvolvimente Tecnologias Web</td>
        </tr>
        <tr>
            <td>10:30</td>
        </tr>
        <tr>
            <td>11:30</td>
        </tr>
        <tr>
            <td>12:30</td>
        </tr>
        <tr>
            <td>13:30</td>
        </tr>
        <tr>
            <td>14:30</td>
        </tr>
        <tr>
            <td>15:30</td>
        </tr>
        <tr>
            <td>16:30</td>
        </tr>
        <tr>
            <td>17:30</td>
        </tr>
        <tr>
            <td>18:30</td>
        </tr>
        <tr>
            <td>19:30</td>
        </tr>
        <tr>
            <td>20:30</td>
        </tr>
        <tr>
            <td>21:30</td>
        </tr>
        <tr>
            <td>22:30</td>
        </tr>
        <tr>
            <td>23:30</td>
        </tr>
    </table>
</div>

{% endblock %}